 <%= form_for @user,:html=>{:class=>"payment-form"} do |f| %>
  
  <span class="payment-errors"></span>

  <% if @user.errors.any? %>
    <div class="alert-message block-message warning">
    	<a class="close" href="#">×</a>
      <h2>Oops</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  	

  <div class="clearfix">	
    <label for="xlInput">Email</label>
    <div class="input">
    	<%= f.text_field :email, :id=>"xlInput", :class=>"xlarge" %>
    </div>
  </div>
  
  </p>
  <p>
  <div class="clearfix">	
    <label for="xlInput">Password</label>
    <div class="input">
    <%= f.password_field :password, :id=>"xlInput", :class=>"xlarge" %>
   </div>
  </div>
  
  </p>
  <p>
  <div class="clearfix">	
    <label for="xlInput">Confirmation</label>
    <div class="input">
    <%= f.password_field :password_confirmation, :id=>"xlInput", :class=>"xlarge" %>
    </div>
  </div>
    






            <div class="clearfix">
              <label for="xlInput3">Card Number</label>
              <div class="input">
                <input type="text" size="20" autocomplete="off" class="card-number xlarge span3" id="xlInput3" />
              </div>
            </div>
             <div class="clearfix">
              <label for="xlInput3">CVC</label>
              <div class="input">
                <input type="text" size="4" autocomplete="off" class="card-cvc xlarge span1" id="xlInput3"/>
            </div>
            </div>

             <div class="clearfix">
              <label for="xlInput3">Expiration (MM/YYYY)</label>
              <div class="input">
                
                <input type="text" size="2" class="card-expiry-month span1"/>
                <span> / </span>
                <input type="text" size="4" class="card-expiry-year span2"/>
             </div>
            </div>



   
    
    
    
  </p>
  <div class="actions">
        <input type="submit" class="btn primary submit-button" value="Submit">
  </div>
  
  
<% end %>