



    <table class="viewpane-content bordered-table" id="main_table">
    <thead>
            <tr id="header">
                <th>NAME</th>
                <th>RECIPIENT(S)</th>
                <th>FILE(S)</th>
                <th>SIZE</th>
                <th>DOWNLOAD(S)</th>
                <th>SENT ON</th>
                <th>EXPIRE IN</th>
                <th style="color: #DD4B39;text-align:left">ACTION</th>
            </tr>
    </thead>
    <tbody>            
<% for container in @containers %>

<tr class="rest">


<td>
<img alt="directory" height="16" src="/assets/folder_icon.png" width="16">

<%= link_to container.name, container %>


</td>
<td>
<%= container.emails.count %>
</td>
<td>

<%= container.stuffs.count %>

</td>
<td>

<%= get_size(container) %>

</td>
<td>

<%= container.downloaded %>

</td>
<td>

<%= container.created_at.strftime("%Y-%m-%d") %>

</td>
<td>

<%= expiration_day(container) %>



</td>
<td>
<% if !expired(container) %>
    <%= link_to "Expire", {:controller=>"containers",:action=>"remove",:id=>container.sha1},:style=>"margin-top:1px",:confirm=>"Expire this folder? All the files contained will be removed."%>
<% else %>
    <%= link_to "Remove", {:controller=>"containers",:action=>"remove_folder",:id=>container.sha1},:style=>"margin-top:1px" %>
<% end %>




</td>




<tr>

<% end %>


             </tbody>
    
        </table>  


<!--
        <div>   
            <p style="color:#777777;margin-left:12px;margin-top:3px;"><%= number_to_human_size(current_user.storage)%> of <%= number_to_human_size(current_user.capacity) %> used </p> 
          </div> 

-->