

<% if @containers.count==0 %>         

<div class="tiptip" style="height:20px;width:700px;margin-left: 35px;margin-top: 5px;">
          <p>No transfers to show</p>
   

</div>
<% else %>

    <table class="viewpane-content bordered-table" id="main_table" style="border-top:1px solid #E6F1F6;">
    <tbody>            
<% for container in @containers %>

<tr class="rest">


<td>
<div class="index_first_td_top">

<div class="index_first_td_top_left">
<img alt="directory" height="16" src="/assets/folder_icon.png" width="16">
<%= link_to truncate(container.name,:length=>60), container %>

<% if !(container.password.nil?||container.password.empty?) %>
<span class="label" style="margin-left:5px;">Private</span>
<% end %>



</div>

<div class="index_first_td_top_right">
<% if !expired(container) %>
    <%= link_to "Remove", {:controller=>"containers",:action=>"remove",:id=>container.sha1},:class=>"action_button danger action_icon trash",:confirm=>"Remove this folder? All the files contained will be removed."%>
<% else %>
    <%= link_to "Delete", {:controller=>"containers",:action=>"remove_folder",:id=>container.sha1},:class=>"action_button danger action_icon trash" %>
<% end %>


</div>


</div>





<div class="index_first_td_bottom">
<div class="index_first_td_bottom_left">

    <% container.emails.each_with_index do |e,index| %>
    
     <% if index==(container.emails.count-1) %>    
        <%= e.name %>
     <% else %>
        <%= e.name %>;
     <% end %>
    <% end %>
</div>
<div class="index_first_td_bottom_right">
<%= container.created_at.to_formatted_s(:long) %>,
<%= container.stuffs.count %>
Files, <%= get_size(container) %>, <%= container.downloaded %> Downloads
</div>





</div>




<% if @state=="search" %>
<div class="extra" style="color:#999;padding-top:4px;padding-bottom:7px;padding-left:20px;">
Relevant files: 
<% for f in container[:files] %>
  <%= f %>
  &nbsp

<% end %>


</div>
<% end %>

</td>




<tr>

<% end %>


             </tbody>
    
        </table>  


<!--
        <div>   
            <p style="color:#777777;margin-left:12px;margin-top:3px;"><%= number_to_human_size(current_user.storage)%> of <%= number_to_human_size(current_user.capacity) %> used </p> 
          </div> 

-->


<% end %>