


<%= form_for @stuff, :html => {:multipart => true, :class=>"form-stacked", :name=>"main-form"} do |f| %>
	
	<div class="error">





	</div>
	<div class="square">


  </div>

  
     <input name="container_id" class="container_id" type="hidden" value=<%= @container.sha1 %> />
     <input name="emails" class="emails" type="hidden" value=""/>
     <input name="link" class="link" type="hidden" value=<%= @link %> />
     
    
 
<!--
	       <button type="submit" class="start">Start upload</button>
-->


<!--
            <button type="reset" class="cancel">Cancel upload</button>

-->
<!--
            <button type="button" class="delete">Delete files</button>
-->  


   <div class="beforesend">
   <div class="clearfix">

<% if current_user %>
            
            <div class="input">
              <input name="sender" class="sender" size="30" type="hidden" value=<%= current_user.email %>>
            </div>
<% else %>
    <label for="xlInput3">Sender:<span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;"> (Required) - We'll never spam you</span></label>
            <div class="input">
              <input class="xlarge span3 sender" id="xlInput3" name="sender" size="30" type="text" placeholder="Your Email Address" >
            </div>
<% end %>

  </div>

      
    <div class="clearfix">  
    <label for="xlInput3">Files Recipients: <span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;">(separate emails with commas or tabs)<span></label>
    <div class="input recipientInput">
    <input class="xlarge recipients" id="xlInput" name="email" size="30" type="text" style="width:100%">
   </div> 
  </div>


<div class="clearfix">
			
	
            <label for="xlInput3">
   		
            	Subject<span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;"> (Optional)</span>
         <span>
			<a class="expand1" style="color:#395069">
				expand
			</a>
			</span>

</label>
            <div class="input">
              <input class="xlarge subject-field1" style="width:484px" id="xlInput3" name="subject" size="30" type="text" spellcheck="false">
            </div>
</div>

	
<div class="clearfix">

	
            <label for="xlInput3">
       
            	Message<span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;"> (Optional)</span>
     	<span>
			<a class="expand2" style="color:#395069">
				expand
			</a>
	</span>	

</label>
            <div class="input message-field">
            	<textarea class="xxlarge subject-field2" id="textarea2" name="message" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 54px; margin-left: 0px; margin-right: 0px; width: 484px; " spellcheck="false"  ></textarea>
            </div>
</div>


<div class="clearfix">

	
            <label for="xlInput3">
 			Options
     	<span>
		
	</span>	

</label>

<div class="input" style="margin-left:30px;">
<ul class="inputs-list">


<!--
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option1" id="premiumCheck">
                    <span> Premium Delivery (Send files up to 5GB. One time payment)</span>
                    <span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;"> Only $5.99</span>
                  </label>
                </li>

-->


                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" onClick="passwordToggle()">
                    <span> Protect Download (Password)</span> <span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;"> Free</span>
                  </label>
              <div class="password-block">
                  <div class="clearfix">
                    
                      <div class="input">
                    
                        <input class="span3" id="container_password" name="container_password" size="5" type="password" placeholder="Password">
                        <input class="span3" id="container_password_confirm" name="container_password_confirm" size="5" type="password" placeholder="Confirm Password" onkeyup="validatePassword(); return false;">
                      </div>
                 </div>
             
              </div>

                </li>
               
                 
                <li>
                  <label>
                    <%= f.check_box :notif %>

                    <span>Notify Upon Download</span><span style="color:#676767;font-size: 12px;
font-family: Arial;
font-weight: normal;" > Free</span>

  

                  </label>
                </li>  

                 <li>
                <label class="disabled">
                    <input type="checkbox" name="optionsCheckboxes" value="option2" checked="yes" disabled="">
                    <span>Expire in 14 days</span>
                </label>
              <span class="help-block">
                <strong>Note:</strong> Files will expire in 14 Days. Upgrade to have unlimited storage.
              </span>

            </li>    

              </ul>

</div>
</div>

</div>
    


    <div style="margin-bottom:10px;"></div>
    

   
<div style="width:490px;margin:auto;">



  <div class="widget" id="file_lists">
                    <div class="head"><h4 style="margin-left:170px">Send Your Files </h4></div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
                        <thead>
                            <tr>
                              <td id="upload_col1" width="60%">File Name</td>
                              <td id="upload_col2" width="30%">Size</td>
                              <td id="upload_col3"width="10%">Delete?</td>
                            </tr>
                        </thead>
                         <tbody id="file_done_list">
                           
      
                        </tbody>
                        <tbody id="file_todo_list">
                           



                        </tbody>


 
      
                    </table> 
<div class="capacity_show">


<h4>(Up to 150MB | <a href="#">Upgrade</a> to send larger files)</h4>

</div>
                </div>

                <div class="upload_footer">

                <div id="upload_control_panel">
                  <ul>
                    <li>
                      <button class="cupid-green" onclick=" validateForm();return false;">Send!</button> 
                    </li>
                    <li>
                      <button class="minimal" onclick="s3_swf_1_object.clearQueue();return false;">Clear Queue</button>
                    </li>
                  </ul>
                </div>


                <div id="overall_percentage">
                  <div class="progress-bar green stripes" id="overall-progress-bar" style="
                  width: 400px;height: 28px;padding-right:0px;float: left;">
                  <span style="width: 10%"></span>
                  </div>
                <div id="count" style="font-size: 22px;
font-weight: bold;
text-align: center;
color: #777;
padding-top: 3px;
float: left;
margin-left: 20px;
display:none">
                  15%
                </div>
              </div>



                <div id="upload_info" style="padding-top: 6px; padding-bottom: 10px; padding-left: 54px; margin-left: 240px; color:#777;"></div>


                </div>                               

</div> 

    <span class="help-block" style="text-align:center;">
    <br>  
    <p>
                By clicking on the "Send!" button, you agree to Senditu's <a href="/pages/tos" target="_blank">Terms of Service</a> 
    </p>
              </span>
   <div id="input_button_container">

<%=raw s3_swf_upload_tag(
:queueSizeLimit => "availableNumber()",
:fileSizeLimit => "availableSpace()",
:fileTypes => '*.*',
:fileTypeDescs => 'All files.',
:onFileNotInQueue => "",
:onFileSizeLimitReached => "tooBig();",
:onQueueChange => "queueChangeHandler(queue);",
:onQueueSizeLimitReached => "tooMany();",
:onQueueEmpty => "alert('You gotta have at least one file in there');",
:onQueueClear => "queueClearHandler(queue);",
:onUploadingStart => "uploadingStartHandler();",
:onUploadingFinish => "uploadingFinishHandler();",
:onSignatureIOError => "alert('Error:Connection was lost, please try again.');",
:onSignatureXMLError => "alert('Error:Connection was lost, please try again.');",
:onSignatureSecurityError => "alert('Error:Connection was lost, please try again.');",
:onUploadError => "alert('Error:Connection was lost, please try again.');",
:onUploadIOError => "alert('Error:Connection was lost, please try again.');",
:onUploadSecurityError => "alert('Error:Connection was lost, please try again.');",
:onUploadProgress => "progressHandler(progress_event);",
:onUploadComplete => "uploadCompleteHandler(upload_options,event);",
:buttonWidth=>"130",
:buttonHeight=>"47"

) %>



   </div>








    
    <% end %> 

