
 <%= render :partial =>"header" %>

<div id="folders_display" style="width:93.5%">


<div class="stats">


            <ul>

                <li><a href="#" class="count" style="padding-left:0px"><%= return_available_space(current_user) %></a><br><span>Availabe/Total space</span></li>
                <li><a href="#" class="count" ><%= @containers.count %></a><br><span>Folders/Transfers</span></li>
                
                <li><a href="#" class="count" title=""><%= number_to_human_size(current_user.storage) %></a><br><span>Space used</span></li>
                 <li><a href="#" class="count" title=""><%= @downloads %></a><br><span>Total Downloads</span></li>

                <li style="width:120px;"><a href="#" class="count"><%= return_plans(current_user) %></a><span>My Plan<a>Upgrade</a></span></li>

            </ul>
</div>



<% if @containers.count==0 %>         

<div class="tiptip" style="height:20px;width:600px;">
          <p>No transfers to show</p>
   

</div>
<% else %>
 <%= render :partial => "container",  :locals =>{:containers=>@containers} %>
<% end %>
</div>


  </section>
  </div>
  </section>




<script type="text/javascript" charset="utf-8">


   $(function () {
      $(".class").find('> .active').removeClass('active');
      $("#sent").addClass('active');
      $("#newtransfer a").css("padding-left","0px");


    });

</script>





