
 <%= render :partial =>"header" %>

<div id="folders_display" style="width:93.5%">






<div id="loader-div">
  <img src="/assets/big-ajax-loader.gif">
</div>

<div id="result-refinement">

<%= form_tag containers_path, :method=>'GET', :remote=>true, :id=>"search-form" do %>
  <div id="quicksearch">  

    <img src="/assets/search-spacer.png" alt="" class="sprite s_magnifier "> 
<input id="search" name="search" type="text" style="width: 139px; ">
<input name="filter" type="hidden" value="search" >


<button href="#" id="searchbutton" style="text-decoration:none;margin-left:5px;">Search</button>


  </div>
<% end %>



  <div id="sort-by">
    <span id="sort-text">
      Sort by:
    </span>
    <ul id="sort-button">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle sort_toggle">Created</a>
              <ul class="dropdown-menu" style="border-top:1px solid rgba(0, 0, 0, 0.2);right: 0px;margin-left: -122px;">
              <li><%= sortable "name","Name" %></li>
              <li><%= sortable "downloaded","Downloads" %></li>
              <li><%= sortable "total_size","Size" %></li>
              <li><%= sortable "created_at","Created" %></li>
            </ul>
            </li>
    </ul>

  </div>
 



</div>



<div class="span3" style="width:219px;margin-left:0px;background-color:#F1F3F5;min-height:570px;border:1px solid #C2D5E3;">
<ul class="nav-list">
          <li class="nav-header">Filter</li>
          <li class="active" id="sent_items"><a href="/containers?filter=normal" data-remote="true"><i class="icon-white icon-envelope"></i> Sent Items&nbsp (<%= @sent_items.count %>) </a></li>
          <li id="personal_items"><a href="/containers?filter=personal" data-remote="true"><i class="icon-heart"></i> Personal Files&nbsp (<%= @personal_items.count %>)</a></li>
          <li id="removed_items"><a href="/containers?filter=removed" data-remote="true"><i class="icon-trash"></i> Trash Bin&nbsp (<%= @removed_items.count %>)</a></li>
          
        </ul>



</div>

<div class="span13" style="margin-left:0px;float:right">
<div id="dynamic_folder_display">





 <%= render :partial => "container",  :locals =>{:containers=>@containers} %>



</div>
</div>


</div>


  </section>
  </section>




<script type="text/javascript" charset="utf-8">


   $(function () {
      $(".class").find('> .active').removeClass('active');
      $("#sent").addClass('active');
      $("#newtransfer a").css("padding-left","0px");


    });

</script>

<div id="loader-div">
  <img src="/assets/big-ajax-loader.gif">
</div>



