<!DOCTYPE html>
<html>
<head>

  

  <title>Send Large Files Free, Online File Sharing, Transfer Big Files Free, Managed File Transfer | 42Share</title>

<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js
"></script>

<%= javascript_include_tag 'jquery-ui.js' %>


<%= javascript_include_tag "bootstrap-modal.js"%>

<%= javascript_include_tag 'bootstrap-alerts.js' %>
<%= javascript_include_tag "jquery.tagsinput.js" %>
<%= javascript_include_tag "bootstrap-dropdown.js" %>
<%= javascript_include_tag "bootstrap-tooltip.js" %>
<%= javascript_include_tag "bootstrap-popover.js" %>
<%= javascript_include_tag "jquery.fixheadertable.js" %>
<%= javascript_include_tag "bootstrap-tabs.js" %> 
<%= javascript_include_tag "jquery.zclip.min.js" %>
<%= javascript_include_tag "jquery.aw-showcase.js" %>
<%= javascript_include_tag "jquery.jcarousel.min.js" %>
<%= javascript_include_tag "jquery.browser.min.js" %>


<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= javascript_include_tag "application" %> 


  <%= stylesheet_link_tag "application" %>
  <meta name="description" content="42share is a simple file sharing service that lets you send and share your large files, photos, docs, and videos easily. "/>
    <meta name="keywords" content="Online File sharing, send large files, secure file transfer, managed file transfer, file transfer, online file storage, large email attachment, upload, upload files, send it on, online storage, free storage, file sharing, share files, awesome, cloud storage, online backup, cross platform, sharing, mac, windows, os x, linux, remote access"/>
    <meta name="robots" content="index,follow" />
    <meta name="title" content="Send Large Files Free, Online File Sharing, Transfer Big Files Free, Managed File Transfer | 42Share" />


  <%= csrf_meta_tags %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30401085-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<noscript>
    <div class="error message">
        We're sorry but our site <strong>requires</strong> JavaScript.
    </div>    
</noscript>	

<div id="overlay">
	
<div class="topbar">
      <div class="fill">
        <div class="top_container">
          <a class="brand" href="/" style="text-decoration:none;font-family: 'Lobster', cursive;">
			

42Share</a>
        

        <% if !current_user %>  
         <ul class="nav">
            <li><a href="/pages/pricing">Signup & Pricing</a></li>
          </ul>
        <% end %>    


         <% if current_user %>




    	<ul class="nav secondary-nav">

            <li class="dropdown" style="margin-top: 2px;">
              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <li><a href="/pages/account">Settings</a></li>
                <li><%= link_to "Sign out", log_out_path %></li>
              </ul>
            </li>
          </ul>
    		   	
    	
    	<% else %>		



      <ul class="nav secondary-nav">

            <li class="dropdown">
              <a href="#" class="signin-toggle"><i class="icon-lock icon-white" style="margin-top:1px;margin-right:4px;"></i>Log in</a>
             
            </li>
          </ul>
            







        <% end %>



        
        	
    </div>
  </div>
</div>


 	<br>
  <br>

<div class="container">
	
	
  		
	<%= yield %>


  
<% if !current_user %>
<div id="sign_in_block_wrapper">
<div id="sign_in_block">

      <%= form_tag sessions_path, :class=>"form-stacked" do %>
           <fieldset>
            <div class="clearfix">
               <label for="xlInput3">Email</label>
               <%= text_field_tag :email, params[:email] %>
            </div>
            <div class="clearfix">
               <label for="xlInput3">Password</label>
               <input id="password" name="password" type="password">
            </div>

            <div class="clearfix" style="margin-bottom:0px">
            <p style="line-height: 20px;margin-top:5px;">
                               <%= check_box_tag :remember_me, 1, params[:remember_me], :style=>"margin-top:2px" %>
<label for="remember_me" style="vertical-align: middle; cursor: pointer;display:inline-block;margin-top: -7px;margin-left:3px; ">Remember me</label>            
            </p>
            </div>
               <a href="/pages/pricing">Create an account</a>
               <button class="btn" type="submit" style="margin-left:38px">Sign in</button>
            </fieldset>
          <% end %>


</div>
</div>

<% end %>
      


<% if current_user %>

<% end %>




<script type="text/javascript" charset="utf-8">








$('.recipients').tagsInput({
  'height':'30px',
   'width':'483px',
   'unique':true,
   'defaultText':'Email Address(es)' 
});    
    






    
    
</script>

  <div class="footer">
      <div style="float:left;margin-left:220px;">
        <ul class="left_nav">
            <li><a href="/pages/about" class="at_footer_about">About</a></li>
            <li><a href="/pages/contact_us" class="at_footer_contact">Contact Us</a></li>
            <li><a href="/pages/tos/" class="at_footer_tos">Terms Of Service</a></li>
            <li><a href="/pages/privacy/" class="at_footer_privacy">Privacy Policy</a></li>

        </ul>
      </div>
      <div style="float:left;">
        <p style="float:left;width: 100%;">© Copyright 2012 42Zen, LLC</p>
      </div>
    </div>
</div>

    


	</div>



</body>
</html>
