<!DOCTYPE html>
<html>
<head>
  <title>Send Large Files Free, Online File Sharing, Transfer Big Files Free, Managed File Transfer | Senditu</title>




<%= javascript_include_tag 'jquery.min.js' %>
<%= javascript_include_tag 'jquery-ui.js' %>


<%= javascript_include_tag "bootstrap-modal"%>

<%= javascript_include_tag 'bootstrap-alerts' %>
<%= javascript_include_tag "jquery.tagsinput.js" %>
<%= javascript_include_tag "bootstrap-dropdown" %>
<%= javascript_include_tag "jquery.fixheadertable.js" %>
<%= javascript_include_tag "bootstrap-tabs" %> 
<%= javascript_include_tag "jquery.zclip.min" %>
<%= javascript_include_tag "jquery.tablesorter.min" %>
<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>


  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "base" %>
  <%= javascript_include_tag "application" %>	
	

  <%= csrf_meta_tags %>
</head>
<body>
	
	
<div id="overlay">
	
<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/" style="text-decoration:none">
				<img class="logo" width="14" height="18" title="File Tunnel" src="/assets/img_trans.gif">

Senditu</a>
          <ul class="nav">
            <li><a href="#about">Plans & Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
         
         <% if current_user %>

    	<ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", log_out_path %></li>
              </ul>
            </li>
          </ul>
    		   	
    	
    	<% else %>		
			<%= form_tag sessions_path, :class=>"pull-right" do %>
            	 <%= text_field_tag :email, params[:email], :class=>"input-medium", :placeholder=>"Email", :style=>"border:none" %>
            	 <input id="password" name="password" type="password" class="input-small" placeholder="Password" style="border:none">
            	 <button class="btn" type="submit">Sign in</button>
       		<% end %>
        <% end %>
        
        	
    </div>
  </div>
</div>


 	<br>
 	<br>


<div class="container">
	
	
  		
  		
	<%= yield %>


<% if current_user %>


<p>Capcity: <%= number_to_human_size(current_user.capacity) %></p>
<p>Storage: <%= number_to_human_size(current_user.storage) %></p>
<p>Download cap: <%= current_user.downloadcap %></p>
<p>Max transfer size: <%= number_to_human_size(current_user.spf) %></p>
<p> Remind me when the file reaches the download limit: <%= current_user.limitnotif %></p>
<p>Remind me every time: <%= current_user.everytime %></p> 


<% end %>




<script type="text/javascript" charset="utf-8">








$('.recipients').tagsInput({
  'height':'30px',
   'width':'483px',
   'unique':true,
   'defaultText':'Email Address(es)' 
});    
    






    
    
</script>
  <div class="footer">
        <ul class="nav">
            <li><a href="http://www.compete.com/about" class="at_footer_about">About</a></li>
            <li><a href="http://www.compete.com/contact-us" class="at_footer_contact">Contact Us</a></li>
            <li><a href="http://www.compete.com/developer" class="at_footer_devs">Support</a></li>            
            <li><a href="http://www.compete.com/terms/" class="at_footer_tos">Terms Of Service</a></li>
            <li class="last"><a href="http://www.compete.com/privacy/" class="at_footer_privacy">Privacy Policy</a></li>
            <li class="last"><a href="http://www.competeinc.com" class="at_footer_inc">42Zen LLC</a></li>
        </ul>
    </div>
    


	</div>

  </div>

</div>


</body>
</html>
