<!DOCTYPE html>
<html>
<head>
  <title>Send Large Files Free, Online File Sharing, Transfer Big Files Free, Managed File Transfer | 42Share</title>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js
"></script>

<%= javascript_include_tag 'jquery-ui.js' %>


<%= javascript_include_tag "bootstrap-modal"%>

<%= javascript_include_tag 'bootstrap-alerts' %>
<%= javascript_include_tag "jquery.tagsinput.js" %>
<%= javascript_include_tag "bootstrap-dropdown" %>
<%= javascript_include_tag "jquery.fixheadertable.js" %>
<%= javascript_include_tag "bootstrap-tabs" %> 
<%= javascript_include_tag "jquery.zclip.min" %>
<%= javascript_include_tag "jquery.aw-showcase" %>
<%= javascript_include_tag "jquery.jcarousel.min" %>
<%= javascript_include_tag "jquery.browser.min" %>


<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>


  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "base" %>
  <%= javascript_include_tag "application" %>	


  <%= csrf_meta_tags %>
</head>
<body>
<noscript>
    <div class="error message">
        We're sorry but our site <strong>requires</strong> JavaScript.
    </div>    
</noscript>	
	
<div id="overlay">
	
<div class="topbar">
      <div class="fill">
        <div class="top_container">
          <a class="brand" href="/" style="text-decoration:none;font-family: 'Lobster', cursive;">
			

42Share</a>
         
         <ul class="nav">
            <li><a href="/pages/pricing">Signup & Pricing</a></li>
          </ul>
          
         <% if current_user %>




    	<ul class="nav secondary-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <li><a href="/pages/account">Account Settings</a></li>
                <li><%= link_to "Log out", log_out_path %></li>
              </ul>
            </li>
          </ul>
    		   	
    	
    	<% else %>		



      <ul class="nav secondary-nav">

            <li class="dropdown">
              <a href="#" class="signin-toggle"><i class="icon-lock icon-white" style="margin-top:1px;margin-right:4px;"></i>Log in</a>
             
            </li>
          </ul>
            







        <% end %>



        
        	
    </div>
  </div>
</div>


 	<br>
  <br>

<div class="container">
	
	



<% if !current_user %>
<div id="sign_in_block">
      <%= form_tag sessions_path, :class=>"form-stacked" do %>
           <fieldset>
            <div class="clearfix">
               <label for="xlInput3">Email</label>
               <%= text_field_tag :email, params[:email] %>
            </div>
            <div class="clearfix">
               <label for="xlInput3">Password</label>
               <input id="password" name="password" type="password">
            </div>

            <div class="clearfix">
              <label class="checkbox">
                 <input type="checkbox">&nbsp&nbspRemember me
              </label>
            </div>
               <a href="/pages/pricing">Create an account</a>
               <button class="btn" type="submit" style="margin-left:38px">Sign in</button>
            </fieldset>
          <% end %>


</div>


<% end %>
  		
  		
	<%= yield %>


<% if current_user %>

<% end %>




<script type="text/javascript" charset="utf-8">








$('.recipients').tagsInput({
  'height':'30px',
   'width':'483px',
   'unique':true,
   'defaultText':'Email Address(es)' 
});    
    






    
    
</script>

  <div class="footer">
      <div style="float:left;margin-left:220px;">
        <ul class="left_nav">
            <li><a href="/pages/about" class="at_footer_about">About</a></li>
            <li><a href="/pages/contact_us" class="at_footer_contact">Contact Us</a></li>
            <li><a href="#" class="at_footer_devs">Support</a></li>            
            <li><a href="/pages/tos/" class="at_footer_tos">Terms Of Service</a></li>
            <li><a href="/pages/privacy/" class="at_footer_privacy">Privacy Policy</a></li>

        </ul>
      </div>
      <div style="float:left;">
        <p style="float:left;width: 100%;">© Copyright 2012 42Zen, LLC</p>
      </div>
    </div>
</div>

    


	</div>


</body>
</html>
